[submodule "opt/cpr"]
	path = opt/cpr
	url = git://github.com/whoshuu/cpr.git
[submodule "opt/json"]
	path = opt/json
	url = git://github.com/nlohmann/json.git
[submodule "opt/jwt-cpp"]
	path = opt/jwt-cpp
	url = https://github.com/Thalhammer/jwt-cpp
